body {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: roboto;
}

.container {
    display: flex;
    flex-direction: column;
}

.navbar {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    padding: 20px 0px 100px 20px;
    color: #F9FAF8
}

.hero {
    display: flex;
    background-color: #1f2937;
    color: #F9FAF8;
    align-items: center;
    justify-content: center;
    padding: 100px;
}

.content {
    display: flex;
    flex-direction: column;
    text-align: left;
    flex-basis: 400px;
    margin-right: 50px;
}

.title {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.hero button {
    display: block;
    text-align: center;
    width: 100px;
    padding: 10px;
    font-weight: bold;
    border-radius: 10px;
}

.subtext {
    color: #e5e7eb;
    font-size: 18px;
}

.logo {
    font-weight: bold;
    font-size: 24px;
    color: #F9FAF8;
    margin-right: auto;
    margin-left: 100px;
}

.links {
    margin-left: auto;
    display: flex;
    margin: 0px 100px 0px 0px;
}

button {
    color: #F9FAF8;
    background-color: #3882f6;
}

.image-placeholder1 {
    background-color: grey;
    padding: 100px;
}

.info-area {
    align-items: center;
}

.info {
    display: flex;
    justify-content: space-between
}

.image-placeholder2 {
    background-color: white;
    border: 2px solid #3882f6;
    border-radius: 10px;
    padding: 50px;
    margin: auto;
}